<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:task) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="todo in todos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.task }}</td>
      <td>{{ todo.created_at }}</td>
      <td>
        <a class="btn btn-primary" ui-sref="viewTodo({id:todo._id})">View</a>
        <a class="btn btn-danger"  ng-click="deleteTodo(todo)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>


<a ui-sref="newTodo" class="btn-primary btn-lg nodecoration">Add New Todo</a>